<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>Comments</strong>
  <br>
  Add a comment:
  <br>
<%= form_for @comment, remote: true, url: article_comments_path(@article) do |f| %>
	<div class="form-group">
		<%= f.text_area :body, {id: "commentbox", style: "width: 40%"} %>
	</div>
	<%= f.submit "Add Comment", class: "btn btn-primary" %>
<% end %>
<br>

<div id="comments" >
  <% @comments.each do |c| %>
		<%= "\"#{c.body}\"" %>
	  <br>
  <% end %>
</div >

</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

